
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h5>
    Welcome To Lara Form Application
</h5>
<form>
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password">
    </div>
    <button id="loginbutton" type="button" class="btn btn-primary">Login</button>
</form>

<script>
    $(document).ready(function () {

        $("#loginbutton").click(function () {
            var userName = $("#userName").val();
            var userPassword = $("#userPassword").val();
            var loginModel = { "UserName": userName, "Password": userPassword }

            $.ajax({  
                type: "POST",  
                url: "/User/Login",  
                contentType: "application/json; charset=utf-8",  
                dataType: "json",  
                data: JSON.stringify(loginModel),
                success: function (response) {  
                    console.log(response);
                    if (response) {
                        window.location.replace("/Form/Index"); 
                    }
                    else {
                        Swal.fire({
                          type: 'error',
                          title: 'Oops...',
                          text: 'Invalid credentials!'
                        })
                    }
                }, 
                error: function (response) {
                    console.log(response);
                }
            });  
        }); 
        
    });
</script>