
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FORM</h2>

<script>
    $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/Form/GetFormList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response) {
                        window.location.replace("/Form/Index");
                    }
                    else {
                        Swal.fire({
                          type: 'error',
                          title: 'Oops...',
                          text: 'Invalid credentials!'
                        })
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
    });
</script>

